---
import SentimentChart from '../components/SentimentChart.jsx'
---

<html>
  <head>
    <title>Sentiment Dashboard</title>
  </head>
  <body>
    <h1>Real-time Sentiment</h1>
    <SentimentChart client:load />
  </body>
</html>
